.container{
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.container label{
    margin-left: 10px;
}
.form-control{

    margin: 10px;
    border-radius: 5px;
}
.form-check-input{
    margin-top: 25%;
    padding: 10%;
}
.button-width{
    width: 50%;
    margin-top: 33px;
    
}
