.container{
    margin-top: 5%;
    width: 50%;
    margin-left: 21%;
    margin-bottom: 5%;
}

.container h2{
    color: rgb(21, 35, 61);
}

.container-col{
    margin-top: 50px;
}
.button{
    margin: 20px;
}

.message-div{
    padding: 20px;
    background-color: white;
    width: 50%;
    margin-left: 21%;
    border-radius: 10px;
}
.message-div label{
    margin-left: 6%;
}
.form-control{
    margin: 10px;
    margin-left: 0px;
    width: 140%;
}
textarea {
    width: 200%;
    margin-left: 0px;
    resize: none;
}
